// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// color
$color-candle-light: #FCCF14;
$color-facebook: #3B5998;
$color-twitter: #00ACEE;
$color-gmail: #d44638;